# Ignore virtual environment directory
.venv/

# Ignore model files (large files)
model/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore environment variable files
.env
